.key{
    text-align: center;
    padding: 10px;
    border: 2px solid salmon;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 5px;
    padding-top: 10px;
    font-size: 25px;
    background: #ddd;
    transition: all 0.07s;
}

.playing{
    transform: scale(1.1);
    border-color: cornflowerblue;
    box-shadow: 0 0 10px #ffc600;
}

.keys {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.key.current_key {
    background: #514bc0;
    color: #fff;
    transform: scale(1.1);
}